* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside h1 {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

aside h1 span, main h2 span {
    color: #ff5678;
}

main {
    font-family: 'Roboto', sans-serif;;
    width: 60rem;
    height: 52rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    padding: 4.4rem 5.7rem;
}

main h2 {
    font-size: 3.6rem;
    max-width: 43rem;
    font-weight: 500;    
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    margin-top: 5.7rem;
    border-radius: 1.2rem;
    text-decoration: none;
    height: 5.5rem;
    font-size: 2.4rem;
    background-color: #35E6E9;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main .actions a + a {
    margin-top: 4.8rem;
    height: 5.5rem;
    font-size: 2.4rem;
    background-color: #ff5678;
}

main footer p {
    margin-top: 8rem;
    font-size: 1.6rem;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
}